.main-container{
  margin: 20px;
  padding: 10px;
}

.userbutton{
  margin: 1px 1px;
  padding: 1rem;
  border-radius: 1px;
}
.buttoncontainer{
  margin: 10px;
  padding: 10px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.userdetails{
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}
